[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
**/wwwroot/_framework/
*.staticwebassets.runtime.json
*.staticwebassets.endpoints.json
compiler/generated/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user
.idea/
